
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="map-image image-bg">
        <div class="row section-separator">
            <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: none;">
                <h3>Contact Me</h3>
            </div>
            <div class="col-sm-12 mh-footer-address">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.3s; animation-name: none;">
                            <div class="each-icon">
                                <i class="fa fa-location-arrow"></i>
                            </div>
                            <div class="each-info">
                                <h4>Address</h4>
                                <address>
                                    6559, Estrada do Ganchinho, zip code 81935-552, Curitiba - PR <br>
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: none;">
                            <div class="each-icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="each-info">
                                <h4>Email</h4>
                                <a href="mailto:viniciushsaraujoo@gmail.com">viniciushsaraujoo@gmail.com</a>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.7s; animation-name: none;">
                            <div class="each-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="each-info">
                                <h4>Phone</h4>
                                <a href="callto:+5541985037649">+55 (41) 98503-7649</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
