
@{
    ViewData["Title"] = "Projects";
}

<section class="mh-portfolio" id="mh-portfolio">
    <div class="container">
        <div class="row section-separator">
            <div class="section-title col-sm-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: none;">
                <h3>My projects</h3>
            </div>
            <div class="part col-sm-12">
                <div class="portfolio-nav col-sm-12" id="filter-button">
                    <ul>
                        <li data-filter="*" class="current wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: none;"> <span>All projects</span></li>
                        <li data-filter=".dot-net" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: none;"><span>.NET</span></li>
                        <li data-filter=".android" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.3s; animation-name: none;"><span>Android</span></li>
                    </ul>
                </div>
                <div class="mh-project-gallery col-sm-12 wow fadeInUp" id="project-gallery" data-wow-duration="0.8s" data-wow-delay="0.5s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: none;">
                    <div class="portfolioContainer row" style="position: relative; height: 986.984px;">
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 dot-net android" style="position: absolute; left: 0px; top: 0px;">
                            <figure>
                                <img src="~/images/projects/UaiDogFidelidade.png" alt="img04">
                                <figcaption class="fig-caption">
                                    <i class="fa fa-search"></i>
                                    <h5 class="title">Uai Dog Fidelidade</h5>
                                    <span class="sub-title">Customer fidelity system for the company Uai Dog.</span>
                                    <a data-fancybox="" data-src="#uaiDog"></a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 ui dot-net" style="position: absolute; left: 370px; top: 0px;">
                            <figure>
                                <img src="~/images/projects/CEUP.png" alt="img04">
                                <figcaption class="fig-caption">
                                    <i class="fa fa-search"></i>
                                    <h5 class="title">Controle de Estoque UP</h5>
                                    <span class="sub-title">Inventory control system for small businesses.</span>
                                    <a href="~/images/g2.png" data-fancybox="" data-src="#ceup"></a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 dot-net" style="position: absolute; left: 740px; top: 0px;">
                            <figure>
                                <img src="~/images/projects/marktsys.png" alt="img04">
                                <figcaption class="fig-caption">
                                    <i class="fa fa-search"></i>
                                    <h5 class="title">MarktSys - POS System</h5>
                                    <span class="sub-title">
                                        MarktSys is a point of sale system.
                                    </span>
                                    <a href="~/images/g3.png" data-fancybox="" data-src="#marktsys"></a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 dot-net" style="position: absolute; left: 370px; top: 261px;">
                            <figure>
                                <img src="~/images/projects/gym.png" alt="img04">
                                <figcaption class="fig-caption">
                                    <i class="fa fa-search"></i>
                                    <h5 class="title">Gym System</h5>
                                    <span class="sub-title">Control system for gyms developed as part of the Microsoft Systems Development discipline assessment.</span>
                                    <a href="~/images/g5.png" data-fancybox="" data-src="#gym"></a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 android" style="position: absolute; left: 370px; top: 261px;">
                            <figure>
                                <img src="~/images/projects/rf.png" alt="img04">
                                <figcaption class="fig-caption">
                                    <i class="fa fa-search"></i>
                                    <h5 class="title">Receitas Flexíveis</h5>
                                    <span class="sub-title">Fitness recipes app for Android.</span>
                                    <a href="~/images/g5.png" data-fancybox="" data-src="#receitasflexiveis"></a>
                                </figcaption>
                            </figure>
                        </div>

                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="mh-portfolio-modal" id="uaiDog">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-5">
                    <h2>Uai Dog Fidelidade (Uai Dog online fidelity card)</h2>
                    <p>
                        Uai Dog Fidelidade is a customer fidelity system that was created to simplify the control of points on the "fidelity card", where the company registers customers scores and redemptions, allowing the generation of reports and making the client having a greater frequency to the program, since the online system is not at risk of loss, as well as the paper cards.
                    </p>
                    <div class="mh-about-tag">
                        <ul>
                            <li><span>.NET Core</span></li>
                            <li><span>API</span></li>
                            <li><span>jQuery</span></li>
                            <li><span>Kodular</span></li>
                        </ul>
                    </div>
                    <a href="http://play.google.com/store/apps/details?id=com.vhsadev.uaidog" target="_blank" class="btn btn-fill">Live Demo</a>
                </div>
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                        <p>Company logo.</p>
                        <img src="~/images/projects/UaiDogAppLogo.png" alt="" class="img-fluid" width="150">
                        <p>Dashboard panel.</p>
                        <img src="~/images/projects/UaiDogFidelidade.png" alt="" class="img-fluid">
                        <p>Android application.</p>
                        <img src="~/images/projects/UaiDogApp.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mh-portfolio-modal" id="ceup">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-5">
                    <h2>Controle de Estoque UP (UP Stock Control)</h2>
                    <p>
                        UP Inventory Control is an inventory control system aimed at small businesses so that they can control their inventory from the launch of their purchases and sales, developed as part of the evaluation of the "Microsoft Systems Development" discipline at Positivo University.
                    </p>
                    <p>
                        The system also has the control of customers, suppliers, employees, and the registration of products with their categories and units of measures to facilitate the search and organization of their stock.
                    </p>
                    <p>
                        When registering a purchase, the system stores each product with its identification code in stock, as a way of "identifying" itself in the system.
                    </p>
                    <p>
                        With our system, you have easy access to the data of your employees, customers and suppliers, in addition to being able to update their data in a very simplified way.
                    </p>
                    <p>
                        The access control of the system will be through a password that must be defined in the employee's registration in the system.
                    </p>
                    <p>
                        In addition to automatically updating the balances of items in stock, the user can define what the average cost of their products is, and thereby more accurately define the selling price of their items, avoiding losses and increasing profitability.
                    </p>
                    <div class="mh-about-tag">
                        <ul>
                            <li><span>.NET Framework</span></li>
                            <li><span>WPF</span></li>
                        </ul>
                    </div>
                    <a href="https://github.com/ViniciusHSAraujo/ControleDeEstoqueUP" class="btn btn-fill">Code in GitHub</a>
                </div>
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                        <p>Login screen.</p>
                        <img src="~/images/projects/ceup-login.png" alt="" class="img-fluid">
                        <p>Search screen.</p>
                        <img src="~/images/projects/ceup-search.png" alt="" class="img-fluid">
                        <p>Purchase screen.</p>
                        <img src="~/images/projects/ceup-purchase-screen.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mh-portfolio-modal" id="marktsys">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-5">
                    <h2>
                        MarktSys
                    </h2>
                    <p>
                        MarktSys is a POS system developed in ASP.NET Core following the classes of the practical project "Supermarket system with ASP.NET Core" from the School of Net study platform.
                    </p>
                    <div class="mh-about-tag">
                        <ul>
                            <li><span>.NET Core</span></li>
                            <li><span>Entity Framework</span></li>
                            <li><span>Identity Framework</span></li>
                            <li><span>MySQL Framework</span></li>
                            <li><span>jQuery</span></li>
                            <li><span>Chart.js</span></li>
                        </ul>
                    </div>
                    <a href="https://github.com/ViniciusHSAraujo/MarktSys-ASP-NET-CORE" class="btn btn-fill">Code in GitHub</a>
                </div>
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                        <p>POS.</p>
                        <img src="~/images/projects/marktsys.png" alt="" class="img-fluid">
                        <p>Closing of Sale.</p>
                        <img src="~/images/projects/marktsys-Closing-sale.png" alt="" class="img-fluid">
                        <p>Dashboard.</p>
                        <img src="~/images/projects/marktsys-dashboard.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mh-portfolio-modal" id="receitasflexiveis">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-5">
                    <h2>
                        Receitas Flexíveis (Flexible Recipes)
                    </h2>
                    <p>
                        Fitness recipe app for android that has more than 25,000 downloads and has thousands of active users.
                    </p>
                    <div class="mh-about-tag">
                        <ul>
                            <li><span>Android</span></li>
                            <li><span>Java</span></li>
                            <li><span>Wordpress</span></li>
                            <li><span>REST API</span></li>
                        </ul>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=com.vhsadev.receitasflexiveis" class="btn btn-fill">Download now</a>
                </div>
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                        <img src="~/images/projects/rf-1.png" alt="" class="img-fluid">
                        <img src="~/images/projects/rf-2.png" alt="" class="img-fluid">
                        <img src="~/images/projects/rf-3.png" alt="" class="img-fluid">
                        <img src="~/images/projects/rf-4.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mh-portfolio-modal" id="gym">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-5">
                    <h2>
                        Gym System
                    </h2>
                    <p>
                        Control system for gyms developed as part of the Microsoft Systems Development discipline assessment.
                    </p>
                    <div class="mh-about-tag">
                        <ul>
                            <li><span>ASP.NET Core</span></li>
                            <li><span>Entity Framework</span></li>
                            <li><span>jQuery</span></li>
                            <li><span>REST API</span></li>
                        </ul>
                    </div>
                    <a href="https://github.com/ViniciusHSAraujo/Academia" class="btn btn-fill">View on GitHub</a>
                </div>
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                        <img src="~/images/projects/gym.png" alt="" class="img-fluid">
                        <img src="~/images/projects/gym-1.png" alt="" class="img-fluid">
                        <img src="~/images/projects/gym-2.png" alt="" class="img-fluid">
                        <img src="~/images/projects/gym-3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
